:host {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 15px;
  color: #333;
}
.full-width-table {
  width: 100%;
}
.active {
  color: #d32f2f;
  font-weight: 600;
}

.closed {
  color: #388e3c;
  font-weight: 600;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
  max-width: 250px;
}

.mat-elevation-z2 {
  border-radius: 8px;
  overflow: hidden;
}

.resolved-text {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #388e3c;
  font-weight: 500;
}

button[mat-icon-button] mat-icon {
  font-size: 22px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mark-resolved-btn {
  background-color: #f57c00 !important;
  color: #fff !important;
  box-shadow: none;
}

.mark-resolved-btn:hover {
  background-color: #ef6c00 !important;
}

.popup {
  background: white;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Source Sans 3', sans-serif;
}

.popup-header {
  background: #f57c00;
  color: white;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.popup-body {
  padding: 1rem;
}

.popup-body p {
  margin: 0.25rem 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.popup-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.details-btn {
  background-color: #f57c00;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Source Sans 3', sans-serif;
}

.details-btn:hover {
  background-color: #ef6c00;
}

