<div class="alerts-container">
  <h1>Alerts</h1>

  <!-- Summary -->
  <div class="summary">
    <div class="card danger">
      <div class="icon">
        <mat-icon color="warn">warning</mat-icon>
      </div>
      <div class="text">
        <h2>{{ activeCount() }}</h2>
        <p>Active Alerts</p>
      </div>
    </div>

    <div class="card success">
      <div class="icon">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>
      <div class="text">
        <h2>{{ resolvedCount() }}</h2>
        <p>Closed</p>
      </div>
    </div>
  </div>

  <!-- Tabla de alertas -->
  <app-alert-table
    [alerts]="alerts()"
    (closeAlert)="onCloseAlert($event)"
    (acknowledgeAlert)="onAcknowledgeAlert($event)"
  ></app-alert-table>
</div>
