<div class="alerts-container">
  <h1>Alerts</h1>

  <div class="summary">
    <div class="card danger">
      <div class="icon">
        <mat-icon color="warn">warning</mat-icon>
      </div>
      <div class="text">
        <h2>{{ (activeCount$ | async) || 0 }}</h2>
        <p>Alerts today</p>
      </div>
    </div>

    <div class="card success">
      <div class="icon">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>
      <div class="text">
        <h2>{{ (resolvedCount$ | async) || 0 }}</h2>
        <p>Resolved</p>
      </div>
    </div>
  </div>

  <app-alert-table [alerts]="alerts$ | async"></app-alert-table>
</div>
