.trips-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
}

.trips-header h1 {
  font-weight: 600;
  color: var(--color-grey-1);
  margin: 0;
}

.trips-summary {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.summary-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid var(--color-grey-4);
  border-bottom: 1px solid var(--color-grey-4);
  padding: 1rem 1.5rem;
}

.summary-group:last-child {
  border-top: none;
}

.summary-group h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--color-grey-2);
  max-width: 12.5rem;
  width: 100%;
}

.summary-values {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--color-grey-2);
}

.summary-value {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.summary-value-field {
  font-weight: 700;
  text-wrap: nowrap;
}

.trips-filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-field {
  width: 100%;
}

.filters-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}
.filter-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-group span {
  font-weight: 500;
  color: var(--color-grey-2);
}

.filter-select {
  width: 150px;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.table-container {
  overflow: auto;
}

/* Mobile adjustments */
@media (max-width: 1024px) {
  .trips-summary {
    gap: 0.5rem;
  }

  .summary-group {
    padding: 0.6rem 0.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .summary-values {
    gap: 0.6rem;
    font-size: 0.8rem;
  }

  .trips-filters {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .search-field {
    min-width: 0;
    width: 100%;
  }

  .actions {
    width: 100%;
    margin-left: 0;
    justify-content: flex-end;
  }

  table {
    font-size: 0.9rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: var(--color-grey-2);
  font-weight: 600;
  text-align: left;
}

td.actions {
  display: flex;
  gap: 0.5rem;
}
